# Postgres (Prisma)
PG_DATABASE_URL="postgresql://root:password@localhost:5432/xapps?schema=public"

# Redis (Caching, Sessions, BullMQ)
REDIS_URL="redis://localhost:6379"

# MongoDB (Unstructured Data)
MONGO_URI="mongodb://root:password@localhost:27017/xapps?authSource=admin"

# Server Configuration
PORT=8080
NODE_ENV=development

# Security
FRONTEND_URL="http://localhost:5173"
