export default {
  name: '__MODULE_NAME__',
  displayName: '__DISPLAY_NAME__',
  icon: 'puzzle-piece',
  version: '1.0.0',
  description: '__DISPLAY_NAME__ module',
  basePath: '/__BASE_PATH__',
  apiPrefix: '/api/__BASE_PATH__',
  dependencies: [],
  requiredPermissions: ['__MODULE_NAME__:access'],
  databases: ['postgres'],
  settings: {},
};
