{
  "name": "@xapps/module-__MODULE_NAME__",
  "version": "1.0.0",
  "type": "module",
  "exports": {
    "./client": "./client/index.js",
    "./server": "./server/index.js",
    "./config": "./module.config.js"
  }
}
